body {
background-color: #fff0f5; 
  font-family: "Roboto", sans-serif;
}

a{
color: #f65282;
}

.Weather-app{
    background: white;
    max-width: 600px;
    margin: 45px auto;
    box-shadow: 0 30px  50px rgba(65, 50, 100, 0.08);
    border-radius: 16px;
    padding: 30px;


}
header{
   border-bottom: 1px solid #fff0f5;
  padding-bottom: 30px
}


.search-form-input {
    background-color: #fff0f5;
    border: none;
    border-radius: 6px;
    width: 80%;
    font-size: 16px;
    padding: 15px  20px;
}
.search-form-button{
    background: #f65282;;
    padding: 15px 30px;
    border: none;
    font-size: 16px;
    margin-left: 5px;
    border-radius: 6px;
    color: white;

}

main{
    padding: 30px 0;
}

.Weather-app-city{
    margin: 0;
    font-size: 30px;
    line-height: 48px;

}

.weather-app-data{
    display: flex;
    justify-content: space-between;

}
.weather-app-details{
    font-size: 16px;
    color:rgba(39, 33, 66, 0.4) ;
    line-height: 20px;
    font-weight: 500;
}

.weather-app-details strong {
    color: #f65282;
}

.weather-app-icon{
    font-size: 44px;
    margin-left: 10px;
    margin-top: 22px;
}
.weather-app-unit{
margin-top: 40px;
font-size: 16px;
}

.Weather-app-icon-temperature-container{
    display: flex;
    font-size: 88px;
}
.weather-app-temperature{
    font-size: 88px;
    font-weight: bold;
}

.weather-forecast{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.weather-forecast-date{
    text-align: center;
    color: rgba(39, 33, 66, 0.4);
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;

}
.weather-forecast-icon{
    font-size: 38px;
    text-align: center;
}
.weather-app-temperature{
    text-align: center;
    color: #f65282;
    margin-top: 10px;
    display:flex;
    justify-content: center;

}
.weather-app-temperature{
    padding: 0 10px;

}


footer{
    border-top: 1px solid #f9f7fe;
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 14px;
    color: rgba(0, 0,0, 0.6);
}
.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  border-top: 1px solid #f9f7fe;
  padding-top: 30px;
}

.weather-forecast-day {
  text-align: center;
}

.weather-forecast-date {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  width: 60px;
  height: 60px;
  display: block;
  margin: 0 auto;
}

.weather-forecast-temperatures {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size: 16px;
}

.weather-forecast-temperature {
  padding: 0 5px;
}